<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="The Global Day of Coderetreat is a day
    when developers all over the world will be practicing the fundamentals
    of software development.">

    <title>Global Day of Coderetreat</title>
    <link rel="icon" type="image/png" href="/images/gdcr-favicon.ico">
    <link rel="stylesheet" href="/style.css" type="text/css"/>

    <script type="text/javascript" src="http://www.google-analytics.com/ga.js"></script>
  </head>
  <body>
    <div class="content">
      <%= yield %>
    </div>

    <script type="text/javascript" src="/javascripts/application.js"></script>
    <script type="text/javascript" src="/javascripts/analytics.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/loadmap.js"></script>
  </body>
</html>
